body{
    background-color:navajowhite;
}

#content{
    max-width: 70%;
    background-color: darkgrey;
    Border-color: darkolivegreen;
    margin-left: auto;
    margin-right: auto;
}
#photo-header{
    text-align:center;
}
#photo {
    display: block;;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container{
    height: 300px;
    background-color:darkolivegreen;
    position:relative ;
}

#image1{
    position:absolute;

    width: 45%;
    top: 15px;
    left: 35px;
}

#image2{
    position:absolute;
    width: 35%;
    top: 15px;
    right: 35px;

}